body {
  font-family: Arial, sans-serif;
  background-color: rgb(235, 245, 171);
  text-align: center;
  padding: 20px;
}

button {
  padding: 15px 30px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  background-color: rgb(188, 154, 220);
  border: none;
    box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.6);
}
#gameArea button{
        background-color: rgb(235, 143, 221);

}
#nextRoundBtn {
  background-color: rgb(188, 154, 220);
  color: white;
}

#reviewArea {
  margin-top: 20px;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
