body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}
button{
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}
#nextRoundBtn{
    background-color: #4CAF50;
    color: white;
    border: none;
    display:none;
}